*{
    margin: 0;
    padding: 0;
}

.nav_bar{
    background-color: rgb(247, 247, 247);
    display: flex;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1rem;
    align-items: center;
    height: 10vh;
}
.logo{
    align-self: center;
  
    display: flex;
}
.logo_image{
    margin-top: -0.8rem;
    height: auto;
    width: 3rem;
    
}
.nav_links{
    display: flex;
    justify-content: space-between;
    width: 40%;
    align-items: center;
    
}
.info_buttons{
    display: flex;
    justify-content: space-between;
    width: 37%;
}
.button_primary{
    background-color: tomato;
    padding: 0.5rem 3rem;
    padding-left: 0.9rem;
    padding-right: 0.9rem;
    border:  tomato solid ;
    color: white;
    border-radius: 0.2rem;
    cursor: pointer;
}
.button_secondary{
    background-color: black;
    padding: 0.6rem;
    padding-left: 0.9rem;
    padding-right: 0.9rem;
    border:  black solid ;
    color: white;
    border-radius: 0.2rem;
    cursor: pointer;
}
.button_primary:hover{
    transition: 0.5s;
    opacity: 0.9;
    border:  tomato solid ;
    background-color: white;
    color: tomato;
    
}
.button_secondary:hover{
    transition: 0.5s;
    opacity: 0.9;
    border:  black solid ;
    background-color: white;
    color: black;
}
.hero_section{
    display: flex;
    justify-content: space-between;
    padding: 3rem;
    height: 22rem;
    background-color: rgb(247, 247, 247);
}
.info_container{
    width: 40%;
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 40vh;

}
.hero_title{
    font-size: 60px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700
}
.hero_image{
    width: 50%;
    height: auto;
    
    margin-top: 2rem;
    object-fit: cover;
}
.our_services_section{
    text-align: center;
    margin-top: 3rem;
}
.service_card_container{
    margin: 2rem;
    display: flex;
    justify-content: space-evenly;
}
.service_card{
   
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 28%;
    height: 25vh;
    padding: 1rem 1rem;
    border: solid lightgrey 1px;
    box-shadow: 1px 1px lightgrey;
  
}
/* .service_card > .img {
    justify-self: center;
} */
#service_card_title{
    color: tomato;
}
.fresh_fruit_section{
    padding: 3rem;
    
}
.fresh_fruit_card{
    display: flex;
    justify-content: space-between;
    height: 20vh;
    margin-top: 5vh;
}
.fresh_fruit_info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    
}

.fruit_image{
    background-color: tomato;
    margin-top: 1.3rem;
    width: 20%;
    height: 20vh;
}
.testimonial_section{
    margin-top: 5vh;
    padding: 0 3rem;
    height: 40vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
}

.testimonial_image{
    height: 15vh;
    width: 20%;
    
    align-self: center;
}
.contact_section{
    
    padding: 6rem 3rem;
    height: 60vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.side-image {
    float: right;
}

#contact_form{
   
    margin-top: 5vh;
    border: none;
    
    border-bottom: solid 1px black;
    width: 100%;
    margin-bottom: 2vh;

}
.contact_image{
    background-color: tomato;
    height: 15vh;
    width: 10%;
    
}

.footer{
    margin-top: 2rem;
    padding: 0 3rem;
    height: 30vh;
    display: flex;
    width: auto;
    justify-content: space-between;
}
.social_icons{
    display: flex;
    justify-content: space-between;
    width: 60%;
    
}
.call_to_action{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 10rem;
}

.footer_banner{
    padding: 1rem 0;
    background-color: rgb(247, 247, 247);
    text-align: center;
}


